th.col-form-name {
  width: 25%;
}
th.col-form-shortcode {
  width: 25%;
}
th.col-form-entries,
th.col-form-views,
th.col-form-conversion {
  width: 10%;
}
th.col-entry-details {
  width: 10%;
}
table.wpuf-contact-form td,
table.wpuf-contact-form th {
  vertical-align: top;
}
.wpuf-form-builder-field-options .panel-field-opt.panel-field-name > label {
  display: block;
  clear: both;
}
.wpuf-form-builder-field-options .panel-field-opt.panel-field-name .name-field-placeholder,
.wpuf-form-builder-field-options .panel-field-opt.panel-field-name .name-field-value {
  float: left;
  width: 48%;
}
.wpuf-form-builder-field-options .panel-field-opt.panel-field-name .name-field-placeholder label,
.wpuf-form-builder-field-options .panel-field-opt.panel-field-name .name-field-value label {
  font-size: 10px;
}
.wpuf-form-builder-field-options .panel-field-opt.panel-field-name .name-field-placeholder {
  margin-right: 4%;
}
.wpuf-contact-form-entry-wrap {
  margin-top: 20px;
  width: 100%;
  overflow: hidden;
}
.wpuf-contact-form-entry-wrap .wpuf-contact-form-entry-left {
  float: left;
  width: 70%;
}
.wpuf-contact-form-entry-wrap .wpuf-contact-form-entry-left.weforms-quiz-entry .field-points {
  float: right;
}
.wpuf-contact-form-entry-wrap .wpuf-contact-form-entry-left.weforms-quiz-entry .field-value.right-answer {
  background: #dff0d8;
}
.wpuf-contact-form-entry-wrap .wpuf-contact-form-entry-left.weforms-quiz-entry .field-value.wrong-answer {
  background: #FFE4E4;
}
.wpuf-contact-form-entry-wrap .wpuf-contact-form-entry-right {
  float: right;
  width: 28%;
}
.wpuf-contact-form-entry-wrap h2.hndle {
  padding: 8px 12px;
  margin: 0;
  font-size: 14px;
}
.wpuf-contact-form-entry-wrap table.widefat {
  border: none;
}
.wpuf-contact-form-entry-wrap .button .dashicons {
  margin-top: 4px;
}
.postboxes.two-col {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.postboxes.two-col .postbox {
  width: 48%;
  display: flex;
  flex-direction: column;
}
.postboxes.two-col .postbox:nth-child(2n+1) {
  margin-right: 3%;
}
.postboxes.two-col .postbox:nth-child(2n+2) {
  margin-right: 0;
}
.postboxes.two-col .submit-wrapper {
  margin-top: auto;
  text-align: right;
  padding-right: 10px;
  border-top: 1px solid #eee;
  padding-top: 10px;
  background: #fafafa;
  padding-bottom: 10px;
}
.export-import-wrap select.forms-list {
  min-width: 300px;
}
.export-import-wrap .loading-spinner {
  float: none;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}
.export-import-wrap .upload-status .spinner {
  float: none;
  display: inline-block;
  margin: 0;
  background-size: 18px 18px;
}
.weforms-premium .wp-badge {
  background: #40ce65 url(../images/weforms-pro.png) no-repeat;
  background-size: 100px 90px;
  background-position: 35px 5px;
}
.weforms-premium .weforms-upgrade-sticky-footer {
  position: fixed;
  bottom: 0;
  background: #fff;
  width: calc(100% - 195px);
  z-index: 9;
  margin-left: -25px;
  text-align: center;
  border: 1px solid #dfdfdf;
  padding: 20px 0;
  border-bottom: none;
}
.weforms-premium .four-col .col {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  min-width: 23%;
  max-width: 23%;
}
a.add-notification .dashicons {
  margin-top: 4px;
}
.notification-wrap {
  width: 100%;
  overflow: hidden;
  display: block;
  margin-top: 20px;
}
.notification-wrap .notification-row.notification-field .mce-tinymce {
  border: 1px solid #ddd;
}
.notification-wrap .notification-row.notification-field .mce-tinymce .mce-i-shortcode::before {
  font-family: dashicons;
  content: "\f475";
}
.notification-wrap .notification-table-wrap {
  width: 100%;
}
.notification-wrap .notification-table-wrap table.wpuf-cf-notification-table {
  width: 70%;
  transition: width 0.3s ease-in-out;
}
.notification-wrap .notification-table-wrap table.wpuf-cf-notification-table .col-toggle {
  width: 35px;
}
.notification-wrap .notification-table-wrap table.wpuf-cf-notification-table .col-name {
  width: 35%;
}
.notification-wrap .notification-table-wrap table.wpuf-cf-notification-table .col-name a {
  font-weight: bold;
}
.notification-wrap .notification-table-wrap table.wpuf-cf-notification-table .col-action {
  width: 15%;
}
.notification-wrap .notification-edit-area {
  background: #fff;
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  margin-bottom: 30px;
  display: none;
}
.notification-wrap .notification-edit-area a {
  text-decoration: none;
}
.notification-wrap .notification-edit-area .notification-head {
  padding: 8px 10px;
  background: #f9f9f9;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 15px;
}
.notification-wrap .notification-edit-area .notification-head input {
  width: 100%;
  padding: 8px;
}
.notification-wrap .notification-edit-area .form-fields {
  padding: 8px 10px;
}
.notification-wrap .notification-edit-area .form-fields input,
.notification-wrap .notification-edit-area .form-fields textarea {
  width: 100%;
  padding: 6px 25px 6px 6px;
}
.notification-wrap .notification-edit-area .form-fields input[type='radio'] {
  width: auto;
}
.notification-wrap .notification-edit-area .form-fields .notification-row {
  margin-bottom: 10px;
  position: relative;
}
.notification-wrap .notification-edit-area .form-fields .notification-row:after {
  clear: both;
  content: "";
  display: table;
}
.notification-wrap .notification-edit-area .form-fields .row-one-half {
  float: left;
  width: 48%;
  position: relative;
}
.notification-wrap .notification-edit-area .form-fields .row-one-half.first {
  margin-right: 4%;
}
.notification-wrap .notification-edit-area .form-fields label {
  display: block;
  padding-bottom: 5px;
}
.notification-wrap .notification-edit-area .form-fields .advanced-field-wrap {
  display: none;
}
.notification-wrap .notification-edit-area .form-fields .notification-conditional-logic .help {
  margin-bottom: 0px;
}
.notification-wrap .notification-edit-area .form-fields .notification-conditional-logic .condition-status {
  margin-bottom: 0px;
  margin-top: 8px;
}
.notification-wrap .notification-edit-area .form-fields .notification-conditional-logic .condiotional-logic-repeater {
  margin: 8px 0px;
}
.notification-wrap .notification-edit-area .submit-area {
  padding: 8px 10px;
  background: #f9f9f9;
  border-top: 1px solid #e1e1e1;
  margin-top: 5px;
}
.notification-wrap .notification-edit-area .submit-area:after {
  clear: both;
  content: "";
  display: table;
}
.notification-wrap .notification-edit-area .submit-area .button {
  float: right;
}
.notification-wrap.editing .notification-table-wrap {
  width: 40%;
  float: left;
}
.notification-wrap.editing .notification-table-wrap table.wpuf-cf-notification-table .col-toggle,
.notification-wrap.editing .notification-table-wrap table.wpuf-cf-notification-table .col-subject,
.notification-wrap.editing .notification-table-wrap table.wpuf-cf-notification-table .col-action {
  display: none;
}
.notification-wrap.editing .notification-edit-area {
  float: right;
  width: 60%;
  display: block;
}
/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
  /* Fancy blur effect */
  /* Remove these to get rid of the spinner */
}
#nprogress .bar {
  background: #29d;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}
#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}
.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}
.weforms-modules {
  margin-top: 15px;
  overflow: hidden;
}
.weforms-modules .plugin-card {
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
.weforms-modules .plugin-card .plugin-name {
  color: #0073aa;
}
.weforms-modules .plugin-card .desc,
.weforms-modules .plugin-card .name {
  margin-left: 115px;
}
.weforms-modules .plugin-card .plugin-card-top {
  min-height: 105px;
}
.weforms-modules .plugin-card .plugin-icon {
  width: 96px;
  height: 96px;
  margin: 0 20px 0px 0;
}
.weforms-modules .activate-deactivate-all {
  margin-top: 15px;
}
.weforms-modules .activate-deactivate-all a {
  text-decoration: none;
}
.weforms-help-page {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 30px;
}
.weforms-help-page * {
  box-sizing: border-box;
}
.weforms-help-page .help-block {
  flex: 1;
  align-self: flex-start;
  min-width: 31%;
  max-width: 32%;
  border: 1px solid #ddd;
  margin-right: 2%;
  margin-bottom: 25px;
  border-radius: 3px;
  padding: 25px 15px;
  text-align: center;
  background: #fff;
}
.weforms-help-page .help-block:hover {
  background: #f9f9f9;
}
.weforms-help-page .help-block img {
  max-height: 70px;
}
@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes color-me-in {
  /* You could think of as "step 1" */
  0% {
    background: orange;
  }
  /* You could think of as "step 2" */
  100% {
    background: black;
  }
}
@keyframes weFormsZoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes weFormsFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.wefroms-form-templates .wpuf-form-template-modal .choose-form-categroy {
  float: right;
  font-size: 14px;
  margin-right: 70px;
  font-weight: normal;
}
.wefroms-form-templates .wpuf-form-template-modal .content {
  max-width: 985px;
}
.wefroms-form-templates .wpuf-form-template-modal .content h2 {
  font-size: 15px;
  color: #5d6d74;
  width: 100%;
}
.wefroms-form-templates .wpuf-form-template-modal .content ul li:nth-child(3n+1) {
  margin-left: 3.0612244897959% !important;
  clear: none !important;
}
.wefroms-form-templates .wpuf-form-template-modal .content ul li:nth-child(4n+1) {
  margin-left: 0 !important;
  clear: both !important;
}
.wefroms-form-templates .wpuf-form-template-modal .content .blank-form .blank-form-text {
  margin-top: 70px;
  font-size: 15px;
}
.wefroms-form-templates .wpuf-form-template-modal .content .blank-form .blank-form-text .title {
  color: #929292;
}
.wefroms-form-templates .wpuf-form-template-modal .content ul li {
  text-align: center;
  min-height: 280px;
  width: 220px;
  border: 0px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 3px;
}
.wefroms-form-templates .wpuf-form-template-modal .content ul li img {
  width: 100%;
}
.wefroms-form-templates .wpuf-form-template-modal .content ul li .form-create-overlay {
  position: absolute;
  display: none;
}
.wefroms-form-templates .wpuf-form-template-modal .content ul li:hover {
  background: #fff;
}
.wefroms-form-templates .wpuf-form-template-modal .content ul li:hover .form-create-overlay {
  animation: weFormsFadeIn .25s;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  color: #fff;
  border-radius: 3px;
}
.wefroms-form-templates .wpuf-form-template-modal .content ul li:hover .form-create-overlay .title {
  color: #fff;
}
.wefroms-form-templates .wpuf-form-template-modal .content ul li:hover .form-create-overlay .description {
  color: #fff;
}
.wefroms-form-templates .wpuf-form-template-modal .content ul li:hover .form-create-overlay button {
  height: 30px;
}
.wefroms-form-templates .wpuf-form-template-modal .content ul li h3 {
  margin-top: 0px;
  border: 0px;
  background: #1E87B6;
  padding: 13px;
  font-weight: normal;
  font-size: 13px;
  color: #fff;
  border-radius: 3px 3px 0px 0px;
  text-align: left;
}
.wefroms-form-templates .wpuf-form-template-modal .content ul li.template-inactive h3 {
  background: #ccc;
}
.ann-form-btn {
  background: #e74c3c !important;
}
.ann-form-btn.sharing_on {
  background: #27ae60 !important;
}
.weforms-single-product-price-warp {
  display: table;
}
.weforms-single-product-price-warp span {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  display: table-cell;
  border-right: 0px;
}
.weforms-single-product-price-warp input {
  display: table-cell;
  width: 99%;
  margin: 0px;
}
#weforms-settings {
  height: 100%;
}
#weforms-settings #weforms-settings-tabs-warp {
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  background: #fff;
  border-radius: 2px;
  display: flex;
}
#weforms-settings #weforms-settings-tabs-warp.weforms-pro-deactivate {
  width: 75%;
  float: left;
}
#weforms-settings #weforms-settings-tabs-warp #weforms-settings-tabs {
  background: #f1f1f1;
  min-width: 220px;
  border-radius: 2px;
  margin: 0;
  padding: 0;
  border-bottom: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: 1px solid #e5e5e5;
}
#weforms-settings #weforms-settings-tabs-warp #weforms-settings-tabs ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  min-height: 200px;
}
#weforms-settings #weforms-settings-tabs-warp #weforms-settings-tabs ul li {
  margin: 0;
  padding: 0;
}
#weforms-settings #weforms-settings-tabs-warp #weforms-settings-tabs ul li a {
  display: block;
  padding: 13px 25px;
  text-decoration: none;
  color: #444;
  border: 0px;
  transition: 0s;
  border-bottom: 1px solid #e5e5e5;
  margin-right: 0px;
}
#weforms-settings #weforms-settings-tabs-warp #weforms-settings-tabs ul li a img {
  width: 20px;
  margin-right: 10px;
  vertical-align: middle;
  max-height: 20px;
}
#weforms-settings #weforms-settings-tabs-warp #weforms-settings-tabs ul li a.we-settings-nav-tab-active {
  background: #fff;
}
#weforms-settings #weforms-settings-tabs-warp #weforms-settings-tabs ul li:last-child a {
  border-bottom: 0;
}
#weforms-settings #weforms-settings-tabs-warp #weforms-settings-tabs ul li:last-child a.we-settings-nav-tab-active {
  border-bottom: 1px solid #e5e5e5;
}
#weforms-settings #weforms-settings-tabs-warp #weforms-settings-tabs ul li:focus,
#weforms-settings #weforms-settings-tabs-warp #weforms-settings-tabs ul li a:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#weforms-settings #weforms-settings-tabs-warp #weforms-settings-tabs-contents {
  width: 100%;
  padding-left: 0px;
  margin-left: 0px;
}
#weforms-settings #weforms-settings-tabs-warp #weforms-settings-tabs-contents .tab-content {
  min-height: 500px;
}
#weforms-settings #weforms-settings-tabs-warp #weforms-settings-tabs-contents .inside {
  padding: 0px 20px;
}
#weforms-settings #weforms-settings-tabs-warp #weforms-settings-tabs-contents .inside .form-table {
  clear: right;
}
#weforms-settings #weforms-settings-tabs-warp #weforms-settings-tabs-contents h3.hndle {
  border-bottom: 1px solid #eff4f6;
  padding-left: 24px;
  margin: 0px;
}
#weforms-settings #weforms-settings-tabs-warp #weforms-settings-tabs-contents .submit-wrapper {
  border-top: 1px solid #eff4f6;
  margin-top: 10px;
}
#weforms-settings #weforms-settings-tabs-warp #weforms-settings-tabs-contents .submit-wrapper,
#weforms-settings #weforms-settings-tabs-warp #weforms-settings-tabs-contents h3.hndle {
  padding: 14.5px 20px;
}
#weforms-settings #weforms-settings-page-sidebar {
  width: 25%;
  display: inline-block;
  padding-left: 15px;
  box-sizing: border-box;
}
#weforms-settings #weforms-settings-page-sidebar .weforms-settings-page-sidebar-content {
  background: #fff;
  padding: 15px 15px 50px 15px;
  margin-top: 15px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}
#weforms-settings #weforms-settings-page-sidebar .weforms-settings-page-sidebar-content h2 {
  margin-top: 0;
  font-size: 20px;
  line-height: 26px;
}
#weforms-settings #weforms-settings-page-sidebar .weforms-settings-page-sidebar-content ul li {
  margin-bottom: 20px;
  padding-left: 30px;
  position: relative;
}
#weforms-settings #weforms-settings-page-sidebar .weforms-settings-page-sidebar-content ul li span.dashicons {
  color: #fff;
  background: #58B99D;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 2px;
}
.wpuf-integrations-wrap .wpuf-integration .wpuf-integration-header .wpuf-integration-header-label img.icon {
  width: 24px;
}
.weforms-field-mapping-custom table td {
  min-width: 300px;
  vertical-align: top;
}
.weforms-field-mapping-custom table select,
.weforms-field-mapping-custom table input {
  width: 100%;
}
.weforms-field-mapping-custom table .fa-minus-circle {
  color: #000;
}
.weforms-field-mapping-custom table .remove {
  margin-top: 5px;
  margin-left: 5px;
  display: inline-block;
}
.weforms-field-mapping-custom table .custom-field-input input {
  width: 90%;
  float: right;
}
.weforms-field-mapping-custom .wpuf-int-form-row::before,
.weforms-field-mapping-custom .wpuf-int-form-row::after {
  display: inline-block !important;
}
.weforms-field-mapping-custom a.merge-tag-link {
  margin-top: -1px;
}
.weforms-field-mapping-custom button.add {
  margin-top: 10px;
  margin-left: 5px;
}
.wpuf-contact-form-entries .subsubsub a.current,
.wpuf-contact-form-entries .subsubsub a:focus {
  box-shadow: none;
}
.field-text-with-tag {
  position: relative;
}
.name-merge-tag-holder {
  position: relative;
}
.name-merge-tag-holder .wpuf-merge-tag-wrap .merge-tag-link {
  top: 3px;
}
.name-merge-tag-holder .wpuf-merge-tag-wrap .wpuf-merge-tags {
  top: 27px;
}
th.weforms-form-status-col-title {
  text-align: center;
}
td.weforms-form-status {
  text-align: center;
}
td.weforms-form-status p {
  font-size: 12px;
  font-weight: 700;
  margin: 0;
}
td.weforms-form-status span {
  display: block;
  font-style: italic;
  font-size: 10px;
  margin-left: 8px;
  margin-bottom: 0;
}
td.weforms-form-status span.weforms-status-closed {
  color: red;
}
.weforms-form-status .open {
  color: #3aa73a;
}
.contact-form-list th.col-form-shortcode {
  width: 170px;
}
.contact-form-list th.col-form-entries,
.contact-form-list th.col-form-views {
  width: 50px;
}
.contact-form-list th.col-form-conversion {
  width: 80px;
}
td.weforms-form-creator img {
  max-width: 30px;
  border-radius: 50%;
  float: left;
  margin-right: 8px;
  margin-top: 4px;
}
td.weforms-form-creator span {
  text-transform: capitalize;
  display: block;
}
td.weforms-form-creator span.date {
  font-size: 10px;
}
label.weforms-switch {
  position: relative;
  display: block;
  padding-left: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
  /* Rounded sliders */
}
label.weforms-switch input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0;
}
label.weforms-switch .switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -moz-transition: .4s;
  -webkit-transition: .4s;
  transition: .4s;
  width: 35px;
  height: 18px;
}
label.weforms-switch .switch-slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -moz-transition: .4s;
  -webkit-transition: .4s;
  transition: .4s;
}
label.weforms-switch input:checked + .switch-slider {
  background-color: #8DC63F;
}
label.weforms-switch input:checked + .switch-slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}
label.weforms-switch .switch-slider.round {
  border-radius: 34px;
}
label.weforms-switch .switch-slider.round:before {
  border-radius: 50%;
}
ul.wpuf-form .wpuf-field-columns {
  padding: 0;
  border: 0;
  overflow: hidden;
}
ul.wpuf-form .wpuf-field-columns.has-columns-1 .wpuf-column .wpuf-column-inner-fields {
  width: 100%;
  float: left;
}
ul.wpuf-form .wpuf-field-columns.has-columns-1 .wpuf-column .wpuf-column-inner-fields:nth-child(1) {
  padding-right: 0!important;
}
ul.wpuf-form .wpuf-field-columns.has-columns-1 .wpuf-column .column-1 .ui-resizable-handle {
  display: none !important;
}
ul.wpuf-form .wpuf-field-columns.has-columns-1 .wpuf-column .column-2.wpuf-column-inner-fields,
ul.wpuf-form .wpuf-field-columns.has-columns-1 .wpuf-column .column-3.wpuf-column-inner-fields {
  display: none;
}
ul.wpuf-form .wpuf-field-columns.has-columns-2 .wpuf-column .wpuf-column-inner-fields {
  width: 50%;
  float: left;
}
ul.wpuf-form .wpuf-field-columns.has-columns-2 .wpuf-column .wpuf-column-inner-fields:nth-child(2) {
  padding-right: 0!important;
}
ul.wpuf-form .wpuf-field-columns.has-columns-2 .wpuf-column .column-2 .ui-resizable-handle {
  display: none !important;
}
ul.wpuf-form .wpuf-field-columns.has-columns-2 .wpuf-column .column-3.wpuf-column-inner-fields {
  display: none;
}
ul.wpuf-form .wpuf-field-columns.has-columns-3 .wpuf-column .wpuf-column-inner-fields {
  width: 33.33%;
  float: left;
}
ul.wpuf-form .wpuf-field-columns.has-columns-3 .wpuf-column .wpuf-column-inner-fields:nth-child(3) {
  padding-right: 0!important;
}
ul.wpuf-form .wpuf-field-columns .wpuf-column-field-inner-columns {
  margin-left: 0;
  margin-right: 0;
}
ul.wpuf-form .wpuf-field-columns .wpuf-column-field-inner-columns .wpuf-column {
  padding: 0;
  border: 0;
  float: none;
  width: 100%;
  display: flex;
}
ul.wpuf-form .wpuf-field-columns .wpuf-column-field-inner-columns .wpuf-column .wpuf-column-inner-fields {
  padding: 0 5px 0 0;
  position: relative;
}
ul.wpuf-form .wpuf-field-columns .wpuf-column-field-inner-columns .wpuf-column .wpuf-column-inner-fields ul.wpuf-column-fields-sortable-list {
  border: 1px dashed #ffb900;
  background: rgba(255, 185, 0, 0.08);
  margin: 0;
  padding: 0 0 50px 0;
}
ul.wpuf-form .wpuf-field-columns .wpuf-column-field-inner-columns .wpuf-column .wpuf-column-inner-fields ul.wpuf-column-fields-sortable-list li.column-field-items {
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
ul.wpuf-form .wpuf-field-columns .wpuf-column-field-inner-columns .wpuf-column .wpuf-column-inner-fields ul.wpuf-column-fields-sortable-list li.column-field-items.current-editing {
  background-color: rgba(255, 185, 0, 0.15);
}
ul.wpuf-form .wpuf-field-columns .wpuf-column-field-inner-columns .wpuf-column .wpuf-column-inner-fields ul.wpuf-column-fields-sortable-list li.column-field-items:last-child {
  margin-bottom: 0;
}
ul.wpuf-form .wpuf-field-columns .wpuf-column-field-inner-columns .wpuf-column .wpuf-column-inner-fields ul.wpuf-column-fields-sortable-list li.column-field-items:hover .wpuf-column-field-control-buttons {
  display: block;
}
ul.wpuf-form .wpuf-field-columns .wpuf-column-field-inner-columns .wpuf-column .wpuf-column-inner-fields ul.wpuf-column-fields-sortable-list li.column-field-items .wpuf-column-field-control-buttons {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
  background: rgba(255, 185, 0, 0.08);
  border: 1px dashed #ffb900;
}
ul.wpuf-form .wpuf-field-columns .wpuf-column-field-inner-columns .wpuf-column .wpuf-column-inner-fields ul.wpuf-column-fields-sortable-list li.column-field-items .wpuf-column-field-control-buttons p {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -43px;
  line-height: 1;
  color: #eee;
  background-color: #23282d;
}
ul.wpuf-form .wpuf-field-columns .wpuf-column-field-inner-columns .wpuf-column .wpuf-column-inner-fields ul.wpuf-column-fields-sortable-list li.column-field-items .wpuf-column-field-control-buttons i {
  cursor: pointer;
  padding: 5px;
  font-size: 10px;
}
ul.wpuf-form .wpuf-field-columns .wpuf-column-field-inner-columns .wpuf-column .wpuf-column-inner-fields ul.wpuf-column-fields-sortable-list li.column-field-items .wpuf-column-field-control-buttons i:hover {
  background-color: #0073aa;
}
ul.wpuf-form .wpuf-field-columns .wpuf-column-field-inner-columns .wpuf-column .wpuf-column-inner-fields ul.wpuf-column-fields-sortable-list li.column-field-items .wpuf-column-field-control-buttons i.move {
  cursor: move;
}
ul.wpuf-form .wpuf-field-columns .wpuf-column-field-inner-columns .wpuf-column .wpuf-column-inner-fields .drop-message {
  text-align: center;
  border: 1px dashed #ffb900;
  border-top: 0;
  background: rgba(255, 185, 0, 0.08);
  margin: 0;
  padding: 15px 0;
}
#form-preview-stage .field-items .wpuf-field-columns + div.control-buttons {
  top: 10px;
  z-index: 10;
  height: auto;
  margin: 0;
  background: transparent;
  border: 0;
}
/**
 * UTILITY CSS
 */
* {
  box-sizing: border-box;
}
.weforms-premium {
  font-weight: 300;
  margin: 60px;
  max-width: 1003px;
  margin: 0 auto;
  padding-top: 50px;
}
.weforms-premium img {
  max-width: 100%;
}
.weforms-premium h1,
.weforms-premium h2 {
  font-weight: 600;
}
.weforms-premium h1 {
  font-size: 40px;
}
.weforms-premium h2 {
  font-size: 28px;
}
.weforms-premium h3 {
  font-size: 20px;
}
.weforms-premium p {
  font-size: 14px;
  line-height: 20px;
  color: #758598;
}
.weforms-premium .wf-btn {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  display: inline-flex;
  padding: 13px 18px;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 3px;
  transition: all .3s ease;
}
.weforms-premium .wf-btn.wf-btn-primary {
  background: #1A9ED4;
  color: #fff;
}
.weforms-premium .wf-btn.wf-btn-default {
  background: #fff;
  color: #12CE66;
}
.weforms-premium .wf-btn.wf-btn-lg {
  font-size: 15px;
  line-height: 18px;
  padding: 15px 28px;
  letter-spacing: 1.01px;
  font-weight: 300;
}
.weforms-premium .wf-btn:hover {
  box-shadow: 0 7px 18px 0 rgba(0, 0, 0, 0.31);
}
.weforms-premium .wf-section-wrapper {
  width: 100%;
  margin-bottom: 80px;
}
.weforms-premium .wf-section-wrapper .section-header {
  margin-bottom: 45px;
}
.weforms-premium .wf-section-wrapper .section-header h2 {
  text-align: center;
  margin: 0;
}
@keyframes play_effect_btn {
  0% {
    box-shadow: 0 0 0 20px rgba(199, 245, 236, 0.35), 0 0 0 10px rgba(199, 245, 216, 0.65);
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 0 0 0 20px rgba(199, 245, 236, 0.35), 0 0 0 10px rgba(199, 245, 236, 0.65);
  }
}
/*
 * Component: Modal
 */
.wf-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.wf-modal span.modal-close {
  width: 24px;
  height: 24px;
  text-align: center;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid #f2f2f2;
  position: absolute;
  top: -8px;
  right: -8px;
  z-index: 9999;
  cursor: pointer;
}
.wf-modal span.modal-close i {
  font-size: 7px;
}
.wf-modal span.modal-close:hover {
  background: #000000;
}
.wf-modal .wf-modal-dialog {
  position: relative;
  width: 95%;
  max-width: 820px;
  max-height: 100%;
  margin-top: -100px;
  transition: all 0.3s ease-in-out;
}
.wf-modal .wf-modal-content {
  background-color: #fff;
  border: 1px solid #F5F5F5;
  border-radius: 4px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
  max-height: 90vh;
  overflow-y: auto;
}
.wf-modal.wf-modal-open {
  opacity: 1;
  visibility: visible;
}
.wf-modal.wf-modal-open .wf-modal-dialog {
  margin-top: 0px;
}
.wf-modal-header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px 3px 0 0;
  font-weight: 600;
  color: #000;
}
.wf-modal-header h2,
.wf-modal-header h3,
.wf-modal-header h4,
.wf-modal-header h5 {
  margin: 0;
  font-size: 23px;
}
.wf-modal-header.has-border {
  border-bottom: 1px solid #F5F5F5;
}
.wf-modal-header.has-bg {
  background: #F5F5F5;
}
.wf-modal-header .wf-close {
  color: #cec9cb;
  font-size: 16px;
  padding: 5px;
  margin-right: -5px;
  cursor: pointer;
}
.wf-modal-header .wf-close:hover {
  color: #ccc;
}
.wf-modal-header .wf-icon {
  color: #ccc;
  margin-right: 10px;
  vertical-align: text-top;
}
.wf-modal-header .wf-icon:before {
  font-size: 20px;
}
.wf-modal-body {
  position: relative;
  padding: 20px;
  background: #fff;
}
.wf-modal-footer {
  padding: 20px;
  text-align: right;
}
.wf-modal-footer.has-border {
  border-top: 1px solid #F5F5F5;
}
.wf-modal-footer .wf-btn + .wf-btn {
  margin-left: 15px;
  margin-bottom: 0;
}
.wf-modal-footer .wf-btn-group .wf-btn + .wf-btn {
  margin-left: -1px;
}
.wf-modal-footer .wf-btn-block + .wf-btn-block {
  margin-left: 0;
}
.wf-modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
.modal-title {
  margin-bottom: 20px;
}
.modal-title * {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
}
/**
 * Banner section styles
 */
.wf-banner-section {
  padding: 76px 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  background: #12CE66 url('../images/premium/banner-bg.svg');
  background-size: cover;
  border-radius: 3px;
}
.wf-banner-section h1 {
  color: #fff !important;
  margin-bottom: 0;
  letter-spacing: 1.1px;
  text-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}
.wf-banner-section p {
  color: #E8FFF2 !important;
}
.wf-banner-section .banner-thumb {
  position: relative;
  max-height: 200px;
}
.wf-banner-section .banner-icon {
  background: #FFFFFF;
  box-shadow: 0 8px 19px 0 rgba(0, 0, 0, 0.16);
  display: inline-flex;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 15px;
}
.wf-banner-section .video-play-icon {
  background: #FFFFFF;
  box-shadow: 1px 17px 44px 0 rgba(0, 0, 0, 0.11);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: -25px;
  animation: play_effect_btn 3s infinite ease-in-out;
}
.wf-banner-section .wf-modal-body iframe {
  width: 100%;
}
.wf-banner-section .wf-modal .modal-close {
  color: #fff;
  font-size: 13px;
}
.wf-banner-section .banner-content {
  margin-bottom: 30px;
}
.wf-banner-section .banner-buttons a:not(:last-child) {
  margin-right: 18px;
}
@media (max-width: 767px) {
  .wf-banner-section {
    flex-direction: column;
  }
  .wf-banner-section .wf-btn-primary {
    margin-bottom: 10px;
  }
}
@media (max-width: 500px) {
  .wf-banner-section {
    padding: 50px 25px;
  }
  .wf-banner-section .video-play-icon {
    right: -20px;
    bottom: 20px;
  }
}
/**
 * Feature section styles
 */
.wf-features-wrapper .section-content {
  margin-bottom: -42px;
}
.wf-features-wrapper .feature-row {
  margin: 0 -27px;
  display: flex;
  flex-wrap: wrap;
}
.wf-features-wrapper .feature-row .feature-column {
  flex-basis: 33.33%;
  max-width: 33.33%;
  padding: 0 27px;
}
@media (max-width: 1200px) {
  .wf-features-wrapper .feature-row {
    margin: 0 -15px;
  }
  .wf-features-wrapper .feature-row .feature-column {
    padding: 0 15px;
  }
}
@media (max-width: 767px) {
  .wf-features-wrapper .feature-row .feature-column {
    flex-basis: 50%;
    max-width: 50%;
  }
}
@media (max-width: 420px) {
  .wf-features-wrapper .feature-row .feature-column {
    flex-basis: 100%;
    max-width: 100%;
  }
  .wf-features-wrapper .feature-row .feature-column .feature-thumb {
    width: 100%;
  }
}
.wf-features-wrapper .feature-thumb {
  display: inline-block;
  width: auto;
  box-shadow: -3px 2px 38px 0 rgba(0, 0, 0, 0.06);
}
.wf-features-wrapper .feature-thumb img {
  width: 100%;
  display: flex;
}
.wf-features-wrapper .feature-column {
  margin-bottom: 42px;
}
.wf-features-wrapper .feature-column h3 {
  margin: 30px 0 17px;
}
.wf-features-wrapper .feature-column p {
  margin: 0;
}
/**
 * Integration section styles
 */
.wf-integration-wrapper {
  padding: 70px 45px;
  background: #fff;
  border-radius: 3px 3px 0 0;
  text-align: center;
  margin-bottom: 0 !important;
}
.wf-integration-wrapper .section-header {
  margin-bottom: 70px !important;
}
.wf-integration-wrapper .section-content {
  margin-bottom: -30px;
}
.wf-integration-wrapper .integration-row {
  margin: 0 -22px;
  display: flex;
  flex-wrap: wrap;
}
.wf-integration-wrapper .integration-column {
  padding: 0 22px;
  margin-bottom: 30px;
  flex-basis: 25%;
  max-width: 25%;
}
@media (max-width: 1200px) {
  .wf-integration-wrapper .integration-column {
    flex-basis: 33.33%;
    max-width: 33.33%;
  }
}
@media (max-width: 767px) {
  .wf-integration-wrapper .integration-column {
    flex-basis: 50%;
    max-width: 50%;
  }
}
@media (max-width: 427px) {
  .wf-integration-wrapper .integration-column {
    flex-basis: 100%;
    max-width: 100%;
  }
}
.wf-integration-wrapper .integration-column h3 {
  margin: 20px 0 17px;
}
.wf-integration-wrapper .integration-column p {
  margin-bottom: 0;
}
.wf-import-wrapper {
  border-top: 1px solid #E2E2E2;
  padding: 40px;
  background: #fff;
}
.wf-import-wrapper .section-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .wf-import-wrapper .section-content {
    flex-direction: column;
  }
  .wf-import-wrapper .section-content .import-left {
    margin-bottom: 30px;
  }
  .wf-import-wrapper .section-content .import-left,
  .wf-import-wrapper .section-content .import-right {
    width: 100%;
  }
}
.wf-import-wrapper .import-left {
  display: flex;
  flex: 1;
}
.wf-import-wrapper .import-left p,
.wf-import-wrapper .import-left h2 {
  margin: 0;
}
.wf-import-wrapper .import-left p {
  color: #1ABC9C;
  font-size: 16px;
  line-height: 26px;
}
.wf-import-wrapper .import-left h2 {
  font-size: 25px;
  line-height: 36px;
}
.wf-import-wrapper .import-left .import-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 65px;
  height: 65px;
  background: #12CE66;
  box-shadow: 0 11px 25px 0 rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  margin-right: 30px;
}
#wpuf-form-builder .tab-content {
  overflow-x: hidden;
}
.wpuf-integrations-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.wpuf-integrations-wrap .wpuf-integration {
  padding: 0 10px;
  flex-basis: 25%;
  max-width: 25%;
  margin-bottom: 0;
  background-color: transparent;
  box-shadow: none;
  border: 0;
}
@media (max-width: 767px) {
  .wpuf-integrations-wrap {
    margin: 0;
  }
  .wpuf-integrations-wrap .wpuf-integration {
    flex-basis: 50%;
    max-width: 50%;
  }
}
@media (max-width: 450px) {
  .wpuf-integrations-wrap .wpuf-integration {
    flex-basis: 100%;
    max-width: 100%;
  }
  .wpuf-integrations-wrap .wpuf-integration label {
    margin: 0 0 10px;
  }
  .wpuf-integrations-wrap .wpuf-integration .wpuf-int-form-row {
    flex-direction: column;
  }
  .wpuf-integrations-wrap .wpuf-integration .wpuf-int-field {
    width: 100%;
    position: relative;
  }
  .wpuf-integrations-wrap .wpuf-integration .wpuf-int-field input:not([type='checkbox']),
  .wpuf-integrations-wrap .wpuf-integration .wpuf-int-field select,
  .wpuf-integrations-wrap .wpuf-integration .wpuf-int-field textarea {
    padding: 7px 12px;
    border-radius: 3px;
    max-width: 100%;
    width: 100%;
  }
  .wpuf-integrations-wrap .wpuf-integration .wpuf-int-field .wpuf-merge-tag-wrap .merge-tag-link {
    position: absolute;
    top: 7px;
    right: 7px;
  }
  .wpuf-integrations-wrap .wpuf-integration .wpuf-int-field .wpuf-merge-tag-wrap .wpuf-merge-tags {
    top: 35px;
  }
}
.wpuf-integrations-wrap .wpuf-setting {
  display: flex;
  align-items: center;
}
.wpuf-integrations-wrap .wpuf-setting a {
  display: inline-flex;
  margin-right: 10px;
}
.wpuf-integrations-wrap .wpuf-setting span {
  font-size: 16px;
  font-weight: 400;
}
.wpuf-integrations-wrap .wf-modal .wf-modal-dialog {
  max-width: 600px;
}
.wpuf-integrations-wrap .wf-modal-header {
  border-bottom: 1px solid #E2E2E2;
  background: #FBFBFB;
  padding: 10px 20px;
}
.wpuf-integrations-wrap .wf-modal-header img {
  opacity: .5;
  filter: grayscale(100%);
  transition: all 0.3s ease-in-out;
}
.wpuf-integrations-wrap .wf-modal-header .wpuf-toggle-switch.checked ~ img {
  opacity: 1;
  filter: none;
}
.wpuf-integrations-wrap .wf-modal-header .modal-close {
  color: #777;
  width: 52px;
  height: 52px;
  border-radius: 0;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  border-left: 1px solid #ddd;
  font-size: 18px;
  font-weight: 300;
  border-radius: 0 3px 0 0;
  border-bottom: 0;
}
.wpuf-integrations-wrap .wf-modal-header .modal-close:hover {
  background: #eee;
  opacity: 0.8;
}
.wpuf-integrations-wrap .wf-modal-header .modal-header-left {
  display: flex;
  align-items: center;
}
.wpuf-integrations-wrap .wf-modal-header .modal-header-left img {
  margin-left: 15px;
}
.wpuf-integrations-wrap .wf-modal-footer {
  border-top: 1px solid #E2E2E2;
  background: #FBFBFB;
  padding: 10px 20px;
}
.wpuf-integrations-wrap fieldset {
  border: 1px solid #E2E2E2 !important;
  padding: 20px;
  margin-bottom: 10px;
}
.wpuf-integrations-wrap fieldset legend {
  font-weight: 600;
  font-size: 15px;
  padding: 0 10px;
}
.wpuf-integrations-wrap fieldset label {
  font-weight: 600;
}
.wpuf-int-form-row {
  display: flex;
  margin-bottom: 10px;
}
.wpuf-int-form-row .wpuf-integration-updater {
  display: inline-flex;
  margin-left: 5px;
}
.wpuf-int-form-row .wpuf-int-field-label {
  margin-right: 10px;
  min-width: 120px;
  display: inline-flex;
}
.wpuf-int-form-row .wpuf-int-field {
  width: calc(100% - 120px);
  position: relative;
}
.wpuf-int-form-row .wpuf-int-field input:not([type='checkbox']),
.wpuf-int-form-row .wpuf-int-field select,
.wpuf-int-form-row .wpuf-int-field textarea {
  padding: 7px 12px;
  border-radius: 3px;
  max-width: 100%;
  width: 100%;
}
.wpuf-int-form-row .wpuf-int-field .wpuf-merge-tag-wrap .merge-tag-link {
  position: absolute;
  top: 7px;
  right: 7px;
}
.wpuf-int-form-row .wpuf-int-field .wpuf-merge-tag-wrap .wpuf-merge-tags {
  top: 35px;
}
.wpuf-int-form-row .wpuf-int-field-label label {
  font-weight: 600;
  display: block;
  margin-top: 6px;
}
.wpuf-panel {
  border: 1px solid #E2E2E2;
  margin-bottom: 20px;
}
.wpuf-panel.panel-checked .wpuf-panel-body img {
  filter: none;
  opacity: 1;
}
.wpuf-panel .wpuf-panel-body {
  position: relative;
  background: #fff;
  height: 163px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px 4px 0 0;
}
.wpuf-panel .wpuf-panel-body img {
  max-height: 100%;
  max-width: 160px;
  filter: grayscale(100%);
  opacity: .5;
  transition: all 0.3s ease-in-out;
}
.wpuf-panel .wpuf-panel-body .premium-badge {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
  background: #7ED321;
  display: inline-block;
  padding: 3px 12px;
  position: absolute;
  top: 20px;
  right: -1px;
  border-radius: 20px 0 0 20px;
}
.wpuf-panel .wpuf-panel-footer {
  border-radius: 0 0 4px 4px;
  background: #FBFBFB;
  border-top: 1px solid #E2E2E2;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Premium CTA */
.wpuf-premium-cta {
    display: flex;
    align-items: baseline;
    font-size: 1.5em;
    font-weight: 500;
    flex-direction: column;
    padding: 1em;
    margin: 1em auto;
    max-width: max-content;
    box-shadow: 0px 1px 4px #8f8f8f;
    border-radius: 0 2px 2px 0;
    border-left: 5px solid #7ad376;
}
.wpuf-premium-cta img {
    max-height: 30px;
}
.wpuf-premium-cta .button {
    background-color: #7ad376;
    color: #FFFFFF;
    border-color: #7ad376;
}
.wpuf-premium-cta .button:hover {
    background-color: #ffffff;
    color: #7ad376;
    border-color: #7ad376;
}
@media( min-width: 768px ) {
    .wpuf-premium-cta * {
        margin-right: 1em;
    }
    .wpuf-premium-cta {
        flex-direction: row;
        align-items: center;
        margin: 1em 0;
    }
}

/* Privacy Page */
.wpuf-privacy-page {
    max-width: 1200px;
    margin: 0 auto 0 0;
}
.wpuf-privacy-page p,
.wpuf-privacy-page li {
    font-size: 1.2em;
}